torch==1.6.0
pytorch_lightning==0.9.0
torchgeometry==0.1.2
jpeg4py==0.1.4
pytorch3d==0.2.5
albumentations==0.4.6
opencv_python==4.1.1.26
trimesh==2.38.18
matplotlib==3.3.1
smplx==0.1.26
torchvision==0.7.0
scikit_image==0.15.0
scikit_video==1.1.11
loguru==0.3.2
h5py==2.10.0
numpy==1.18.5
pytube==9.5.3
tqdm==4.47.0
fastai==1.0.55
scipy==1.2.0
joblib==0.15.1
pyrender==0.1.36
flatten-dict
git+https://github.com/mattloper/chumpy
git+https://github.com/rbgirshick/yacs.git
git+https://github.com/mkocabas/yolov3-pytorch.git
git+https://github.com/mkocabas/multi-person-tracker.git


